<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/bstyle.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    
{% seo %}
</head>
  <body>

    <!-- HEADER -->

    <nav class="navbar navbar-expand-lg navbar-dark navbar-main bg-gradient">
    </nav>

    <div class="data bg-gradient">
      <div class="container content">
        <div class="row">
          <div class="col-md-6">
            <h1>Unlock Tomorrow<br>with Lifelong Learning</h1>
            <br>
            <p class="pt-4">Are you ready to transform your life through the power of learning? Technology is changing the way people learn, work, and connect. Together we can stay ahead of emerging skills gaps and succeed in a dynamic world.</p>
          </div>
          <div class="col-md-6 text-center image d-none d-lg-block d-md-block">
            <img style="height: 300px;" viewbox="0 0 974.07 840.06" class="injected-svg modal__media modal__lg_media" src="/assets/images/clones-640.png">
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <section class="intro" id="process">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center col-sm-12 pb-5 pb-sm-0">
            
          <div class="icon bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223"></path>
                <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
            </svg>
          </div>
          <h3 class="pt-4">Continuous Learning</h3>
          <p class="text-lead">Understanding what AI is, exploring its services and technologies, embracing responsible AI practices, and discovering how you and your organization can effectively implement AI solutions and beyond.</p>
        </div>
       
        <div class="col-md-4 text-center col-sm-12 pb-sm-0">
          <div class="icon bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
              <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"></path>
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
            </svg>
          </div>
          <h3 class="pt-4">Technological Innovation</h3>
          <p class="text-lead">Implement innovative technological solutions that streamline workflows and enhance productivity, empowering organizations to thrive in a rapidly changing economic landscape.</p>
        </div>

        <div class="col-md-4 text-center col-sm-12 pb-5 pb-sm-0">
          <div class="icon bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"></path>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"></path>
            </svg>
          </div>
          <h3 class="pt-4">Collaborative Connections</h3>
          <p class="text-lead">Facilitate collaborative opportunities and networking through technology, enabling individuals and teams to share knowledge, ideas, and resources for mutual growth and success.</p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="mission bg-light" id="mission">
    <div class="container">
      <div class="row text-lead">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center pb-5">
          <p class="text-lead">{{ content }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER  -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center copy">
          &copy; 2025 entrypoint.tech
        </div>
      </div>
    </div>
  </footer>

<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

<script src="{{ '/assets/js/bootstrap.bundle.js?v=' | append: site.github.build_revision | relative_url }}></script>
    
  </body>
</html>
